#dashboard{
        .table-striped tbody tr:nth-of-type(odd) {
            // background-color: rgb(247, 247, 247);
            background-color: rgba(0, 0, 0, 0.03);
        }
        .table-hover tr:hover{
            background-color: rgb(211, 238, 232)!important;
        }
        .d-inline{
            display: inline;
        }
        .btn{
            padding:10px 0 10px 0 ;
        }
        .flex-center{
            justify-content: center;
            align-items: center;        /* for single line flex container */
            margin: auto;
        }
        .card-title, h4,p, .card-body{
            margin-bottom: 0;
        }
        p{
            color: #383d41;
            font-style: bold;
            font-weight: 600;
        }
        .card-title{
            color:#00468b;
        }
        .form-control {
        color: #000;    
        }  
}